* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background: #DDD;
}

input, button{
    height: 50px;
}

.page-header {
    background-color: #485460;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page-heading, .page-subheading {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.page-heading {
    padding: 10px 0 0 0;
}

.page-subheading {
    padding: 10px 0;
    font-weight: 300;
}

.page-section {
    margin: 50px auto;
    max-width: 500px;
}

.text-input {
    border-radius: 5px;
    border: 1px solid #DADADA;
    width: 250px;
}

.submit-input {
    background: #05c46b;
    border: #05c46b 2px solid;
    color: #FFF;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 10px;
    font-weight: 600;
    transition: 0.25s;
}

.submit-input:hover {
    background: #FFF;
    color: #05c46b;
}

.section-subheading {
    color: #485460;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.message-card {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    background-color: #FFF;
    margin: 20px auto;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

.message-p {
    padding: 5px;
    text-align: center;
    color: #485460;
    width: 60%;
    margin: 10px auto;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;

}